.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px 10px;
  width: 100%;
  min-height: 625px;
  .paginate{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
  }
}