.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 10px;
  align-items: center;
  width: 500px;
  min-height: 550px;

  .pokemonDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

    .image {
      padding: 10px;
    }

    .name {
      text-align: center;
      padding: 10px;
      color: #2b2929;
    }

    .buttons {
      text-align: center;
    }
  }

  .pokemonStats {
    width: 90%;
    display: flex;

    .stats {
      width: 50%;

      .title {
        width: 100%;
        text-align: center;
      }

      .stat {
        font-size: 16px;
        font-weight: bold;
        padding: 0 0 10px 0;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      .price {
        text-align: center;
        font-size: 24px;
        padding: 10px;
      }
    }
  }
}